<!-- Sidebar Widgets Column -->
<div class="col-md-4">

  <!-- Search Widget -->
  <div class="card my-4">
    <h5 class="card-header">Procurar</h5>
    <div class="card-body">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Procurar por...">
        <span class="input-group-btn">
          <button class="btn btn-secondary" type="button">Ir!</button>
        </span>
      </div>
    </div>
  </div>

  <!-- Categories Widget -->
  <div class="card my-4">
    <h5 class="card-header">Categorias</h5>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-6">
          <ul class="list-unstyled mb-0">
            {% for categoria in categorias %}
            <li>
              <a href="#">{{ categoria.descricao }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Side Widget -->
  <div class="card my-4">
    <h5 class="card-header">Sobre nossas pesquisas</h5>
    <div class="card-body">
      Contamos com profissionais altamente capacitados, ja com anos de experiencia na área. Todas a noticias e
      pesquisas que postamos aqui, são validados por nossos profissionais.
    </div>
  </div>

</div>