{% extends "base.html" %}


{% block content %}
<!-- Page Content -->
<div class="container">

  <!-- Heading Row -->
  <div class="row align-items-center my-5">
    <div class="col-lg-7">
      <img class="img-fluid rounded mb-4 mb-lg-0"
        src="https://res.cloudinary.com/leonardocintra/image/upload/v1588720019/logoladec.png" alt="logo ladec">
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-5">
      <h1 class="font-weight-light">Grupo Ladec</h1>
      <p>Conheca nosso Laboratorio de exames. Fazemos varios tipos e venha conhecer!</p>
      <a class="btn btn-primary" href="#">Saiba mais sobre nos</a>
    </div>
    <!-- /.col-md-4 -->
  </div>
  <!-- /.row -->

  <!-- Content Row -->
  <div class="row">
    {% for artigo in artigos %}

    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <img class="card-img-top"
          src="https://res.cloudinary.com/leonardocintra/image/upload/v1482361653/rv5yxis3h2l82rpgrwbk.jpg"
          alt="{{ artigo.titulo }}">
        <div class="card-body">
          <h2 class="card-title">{{ artigo.titulo }}</h2>
          <p class="card-text">{{ artigo.manchete }}</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary btn-sm">Leia mais</a>
        </div>
      </div>
    </div>
    {% endfor %}
    <!-- /.col-md-4 -->

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
{% endblock content %}